/build/_workspace
/build/bin

\.directory

bin/

cmd/bootnode/bootnode

*.debug

scripts/bootnode

scripts/gess

scripts/key1\.bin

logserv/logserv
/logserv/log.txt
/logserv/mon

*.test

waletproxy/waletproxy
