/build/_workspace
/build/bin

\.directory

bin/

cmd/bootnode/bootnode

*.debug

scripts/bootnode

scripts/gess

scripts/key1\.bin

logserv/logserv
/logserv/log.txt
/logserv/mon

*.test

waletproxy/waletproxy


# --- Python section ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
