<!DOCTYPE html>
<html lang="en">
	<head>
	      <title>Admin</title>
	      {{template "libs"}}

			<style type="text/css">
				      h1{color:#BBCC00};
				      h2{color:#CC0022};
				      .descr-i{color:green;}
				      .descr-e{color:red;}
				      .descr-w{color:blue;}
				      .descr-f{color:lightgreen;}
				      .descr-d{color:lightblue;}
				      .descr-t{color:grey;}
			</style>
	
    </head>
<body>
    {{template "header"}}
	<br>
	<div class="container">
         <h1>О программе </h1> 
         <hr>

         <h2>Назначение программного модуля</h2>
         <p>
            Модуль расчитан для сбора информации из любых источников данных по внешнему API,
            для дальнейшего анализа полученных данных. 
            Все данные разбиты на категории описанные в документации.
         </p>
         
         <p>   
         	Модуль находится в стадии разработки.
         	Замечания и пожелания высылать автору.
         </p>   



     </div>							         	  	  
    {{template "footer"}}
</html>

