<!DOCTYPE html>

<html lang="en">
  <head>
          <title>Nodes</title>

          <style>
              .theadst{background-color: #554080;color: #ccc;}
              thead>tr>th {text-align: center;}
          </style>

        {{template "libs"}}
        <script type="text/javascript">
                    // Table css
          $(document).ready(function() {
                $('#rls').DataTable({
                          "language": {
                            "decimal":      ",",
                            "thousands":    ".",
                            "search":       "Search ",
                            "lengthMenu":   "Display _MENU_ records per page",
                                                        "zeroRecords":  "No data",
                                                        "info":         "Showing page _PAGE_ of _PAGES_",
                                                        "infoEmpty":    "No records available",
                                                        "infoFiltered": "(filtered from _MAX_ total records)"
                          },

                        "scrollY":        "600px",
                                        "scrollCollapse": true,
                        "paging":         false,
                        "ordering":       true,
                        "info":           false,
                        "order":          [[ 2, "desc" ]]
                        //"dom":            '<"toolbar">frtip'


                    });

                                    $("div.toolbar").html('<h4>{{.Title}} </h4> <b>{{.Descript}} Date : {{.Datrep}}</b>');
          });
        </script>
    </head>

<body>
  <div class="container">
       <br>    
       {{template "header"}}
       <h2>Proxy inform panel</h2>

        <div class="card">
                    <div class="card-header" style="background-color:#red;">
                         <h5>Admin panel</h5>
                    </div>

                    <div class="card-body" style="margin: 15px;">
                          <a href="/nodes/">Preview all nodes</a><br>
                          <a href="/active/">Preview <b>first</b> active node</a><br>
                          <a href="/actives">Preview all <b>active</b> nodes</a><br>
                          <a href="/down/">Preview all <b>Disabled</b> nodes</a><br>
                          <a href="/test/">Test service</a><br>
                    </div>

                      <div class="card-footer">Essentia</div>
                </div>

        </div>
    </div>
</body>
</html>